*{
    padding: 0,25px;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cuerpo{
    margin-top: 13em;
}

body{
    background-color: rgb(60, 60, 60);
    height: 100%; 
   display: flex;
   flex-direction: column;
}

.contenedor{
    height: 100%;
    display: flex;
    background-color: rgb(60, 60, 60) ;
    color: rgb(60, 60, 60);
    /*border-radius: 10px;*/
    justify-content: space-around;
    padding-bottom: 3em;
}

.sidebar{
    position: fixed;
    background-color:  rgb(120, 120, 120);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    width: 90%;
    padding-top: 1em;
    padding: 1em;
    height: 14%;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.sidebar .logo{
   width: 10%;
}

.sidebar i{
   /*  position: fixed;*/
    display: flex;
    color: black;
}
.menu{
   /* position: fixed;*/
   /* bottom: 400px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuIcon #menuBars:hover{
    position: fixed;
    cursor: pointer;
    color: white;
}
.sidebar a{
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.sidebar a:hover{
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: 0.3s;
    border-radius: 15%;
}

.logo img{
    width: 95%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
    /*border-bottom: solid rgb(60, 60, 60);*/
}

.cuerpo{
    background-color: rgb(120, 120, 120);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    box-shadow: 0 0 10px black;
    margin: 2em;
    border-radius: 10px;
}

.estudios{
    border-top: solid rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    box-shadow: 0 0 10px black;
    margin: 2em;
    border-radius: 10px;
  
}

.relleno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    box-shadow: 0 0 10px black;
    border-top: solid rgb(60, 60, 60);
    margin: 2em;
    border-radius: 10px;
}

.proyectOne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
    padding: 2em;
    width: 50%;
    height: 800px;
    border-radius: 10px;
}

.proyectTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
    padding: 2em;
    width: 50%;
    height: 800px;
    border-radius: 10px;
}
.text p , h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-left: 3em;*/
}

.text{
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}
.slider ul{
    list-style: none;
    padding: 2em;
}
.slider ul, li{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider li img{
    width: 75%;
    border-radius: 10px;
}

.slider{
    justify-content: space-around;
}
.caption{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination ol{
    width: 50%;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left:40%;
    margin-right: 40%;
}

.pagination li{
    width: 50%;
    display: flex;
    align-items: center;
}

.pagination span:hover{
    cursor: pointer;
    color: white
}

.lenguajes{
    display: flex;
    flex-direction: column;
   /* border-right: solid rgb(60, 60, 60);*/
    align-items: center;
    justify-content: space-between;
    padding-right: 3em;
   /* overflow: hidden;*/
    /*height: 15%;*/
}


.lenguajes i{
    
    display: flex;
    /*animation: cambio 10s infinite;*/
    overflow: hidden;
    
    font-size: xx-large;
    padding: 1em;
    color: black;
    
}

/*
 @keyframes cambio {
     0%{transform: translateY(0)}
     18%{transform: translateY(0)}
    

     20%{transform: translateY(-100%)}
     38%{transform: translateY(-100%)}
     
     

     40%{transform: translateY(-200%)}
     58%{transform: translateY(-200%)}
     
     

     60%{transform: translateY(-300%);}
     78%{transform: translateY(-300%);}
     
     

     80%{transform: translateY(-400%)}
     98%{transform: translateY(-400%)}
     

 }
*/


.pieDePagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    font-size: 1.2em;
}

.pieDePagina i{
    padding: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.pieDePagina i:hover{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.pieDePagina a:hover{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.pieDePagina a{
    color: black;
    text-decoration: none;
}